@model Entities.Concrete.Job
@{
    ViewData["Title"] = "AddJob";
    Layout = "~/Views/Shared/_AdminTemplateLayout.cshtml";
}

<div class="container">
    <br />
    <h3>Pozisyon Ekleme Sayfası</h3>
    <br /><br />
    <form method="post">

        <label>Pozisyon Adı</label>
        <input asp-for="JobName" class="form-control" style="background-color:#b1b3b1" />
        <br /><br />
        <button class="btn btn-info">Kaydet</button>
        <a href="/Job/Index/" class="btn btn-warning">Değişikliklerden Vazgeç</a>
    </form>

</div>

