@model List<Entities.Concrete.Job>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminTemplateLayout.cshtml";
}

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Pozisyon Adı</th>
            <th>Durumu</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Görüntüle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.JobName</td>
                <td>@item.Status</td>
                <td><a href="/Job/DeleteJob/@item.Id" class="btn btn-danger">Sil</a></td>
                <td><a href="/Job/UpdateJob/@item.Id" class="btn btn-success">Güncelle</a></td>
                <td><a href="/Job/JobDetails/@item.Id" class="btn btn-info">Görüntüle</a></td>
            </tr>
        }
    </table>

</div>


