@model List<Entities.Concrete.Announcement>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminTemplateLayout.cshtml";
}

<div class="container">
    <br/><br/>
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Duyuru Başlık</th>
            <th>Duyurular</th>
            <th>Tarih</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Görüntüle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td>@item.CreatedTime</td>
                <td><a href="/Announcement/DeleteAnnouncement/@item.Id" class="btn btn-danger">Sil</a></td>
                <td><a href="/Announcement/UpdateAnnouncement/@item.Id" class="btn btn-success">Güncelle</a></td>
                <td><a href="/Announcement/AnnouncementDetails/@item.Id" class="btn btn-info">Görüntüle</a></td>
            </tr>
        }
    </table>

</div>
